
<div class="container">
  <h2>Login:</h2>

  <form action='/users/login' method='get'>
      Username: <br><input type='text' name='name'><br><br>
      Password: <br><input type='text' name='password'><br><br>
      <input type='submit' value='Log in!'>
  </form>
</div>