
<div class="container">
  <h2>Login:</h2>

  <form action='/users/login' method='post'>
      Name: <input type='text' name='name'><br>
      Password: <input type='password' name='password'><br>
      <input type='submit' value='Log in!'>
  </form>
</div>