<h3><a href="/">If you want to leave, click me</a></h3>

<%if right_answer?(@card, @answer)%>
  you are right! grab a beer!
<%else%>
  you are wrong, go kill yourself. You should not have been born.
<%end%>

<form action="/right_or_wrong" method="post">
  Here's the next word<br>
  <%@cards.shuffle%>
  Definition: <br> <input type="text" value= "<%=@cards.first%>" readonly="readonly"><br><br>
  The Word is...: <br><input name="answer" type="text" value= "">
    <input type="submit" value="Submit">
</form>