<h2>Sign up:</h2>
<div class="container">
  <form action="/users" method="post">
    <div class="form-group">
      <label>Choose a username:</label><br><input type="text" name="name"><br><br>
      <label>Your email:</label><br><input type="text" name="email"><br><br>
      <label>Choose a password:</label><br><input type="password" name="password"><br><br>
      <input type="submit" value="Sign me up!">
    </div>
  </form>
</div>