<div class="container">

<h2>Sign up:</h2>

<form action="/users/new" method="post">
  Choose a username:<input type="text" name="name"><br>
  Your email:<input type="text" name="email"><br>
  Choose a password:<input type="password" name="password"><br>
  <input type="submit" value="Sign me up!">

</form>


</div>
